/* 百度地图 */
.bmap{
    width:100%;
    height:500px;
    border: 1px solid #ccc;
}
.searchResultPanel{
    border:1px solid #C0C0C0;
    width:150px;
    height:auto;
    display:none;
}


/* 文件上传 */
.file-item.thumbnail{
    display: inline-block;
    position: relative;
    margin-right:15px;
    float: left;
}
.file-item.thumbnail .info{
    display: none;
}
.file-item.thumbnail .remove-picture{
    position: absolute;
    right: -5px;
    top: -5px;
    font-size: 18px;
    color: #CA4949;
    cursor: pointer;
    z-index: 5;
}
.file-item.thumbnail .remove-picture:hover{
    color: #EC6969;
}
.file-item .progress.progress-xs{
    margin-bottom: 5px;
    margin-top: 5px;
}
.file-item .error,
.file-item .success{
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    color: white;
    text-align: center;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
}
.file-item .error{
    background: rgba(255, 0, 0, 0.67);
}
.file-item .success{
    background: rgba(25, 167, 75, 0.78);
}
.uploader-list .list-group-item img{
    width: 40px;
    height: 40px;
}
.file-item .remove-file{
    color: #CA4949;
    cursor: pointer;
}
.file-item .remove-file:hover{
    color: #EC6969;
}
.file-item .fa-check {
    color: #68C39F;
    margin-top: 3px;
}

/*上传进度条*/
.progress-com {
    height: 24px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.progress-com.progress-mini {
    height: 5px;
}
.progress-com.progress-mini .progress-bar {
    line-height: 5px;
}
.progress-bar {
    line-height: 24px;
    font-weight: 600;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.progress-bar-primary {
    background-color: #5c90d2;
}
.progress-bar-success {
    background-color: #46c37b;
}
.progress-bar-info {
    background-color: #70b9eb;
}
.progress-bar-warning {
    background-color: #f3b760;
}
.progress-bar-danger {
    background-color: #d26a5c;
}

.text-success {
    color: #46c37b;
}

.pull-right {
    float: right;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.list-group-item {
    padding: 10px 15px;
    border-color: #eee;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}


/* 图片裁剪 */
.jcrop-active,
.jcrop-preview-parent{
    display: inline-block;
}
.jcrop-img {
    width: 750px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC");
    text-align: center;
    line-height: 0;
}
.jcrop-preview-parent{
    width:100px;
    height:100px;
    overflow:hidden;
    float: right;
}

/*裁剪样式*/
.modal-jcrop.fade .modal-dialog {
    -webkit-transition: all 0.12s ease-out;
    transition: all 0.12s ease-out;
}
.modal-jcrop.fade .modal-dialog.modal-dialog-popin {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.modal-jcrop.fade .modal-dialog.modal-dialog-popout {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}
.modal-jcrop.fade .modal-dialog.modal-dialog-slideup {
    -webkit-transform: translate(0, 10%);
    -ms-transform: translate(0, 10%);
    transform: translate(0, 10%);
}
.modal-jcrop.fade .modal-dialog.modal-dialog-slideright {
    -webkit-transform: translate(-10%, 0);
    -ms-transform: translate(-10%, 0);
    transform: translate(-10%, 0);
}
.modal-jcrop.fade .modal-dialog.modal-dialog-slideleft {
    -webkit-transform: translate(10%, 0);
    -ms-transform: translate(10%, 0);
    transform: translate(10%, 0);
}
.modal-jcrop.fade .modal-dialog.modal-dialog-fromright {
    -webkit-transform: translateX(25%) rotate(10deg) scale(0.9);
    -ms-transform: translateX(25%) rotate(10deg) scale(0.9);
    transform: translateX(25%) rotate(10deg) scale(0.9);
}
.modal-jcrop.fade .modal-dialog.modal-dialog-fromleft {
    -webkit-transform: translateX(-25%) rotate(-10deg) scale(0.9);
    -ms-transform: translateX(-25%) rotate(-10deg) scale(0.9);
    transform: translateX(-25%) rotate(-10deg) scale(0.9);
}
.modal-jcrop.in .modal-dialog.modal-dialog-popin,
.modal-jcrop.in .modal-dialog.modal-dialog-popout {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.modal-jcrop.in .modal-dialog.modal-dialog-slideup,
.modal-jcrop.in .modal-dialog.modal-dialog-slideright,
.modal-jcrop.in .modal-dialog.modal-dialog-slideleft {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal-jcrop.in .modal-dialog.modal-dialog-fromright,
.modal-jcrop.in .modal-dialog.modal-dialog-fromleft {
    -webkit-transform: translateX(0) rotate(0) scale(1);
    -ms-transform: translateX(0) rotate(0) scale(1);
    transform: translateX(0) rotate(0) scale(1);
}
.modal-dialog.modal-dialog-top {
    margin-top: 0;
    padding: 0 !important;
}
.modal-dialog.modal-dialog-top .modal-content {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.modal-backdrop.in {
    opacity: .25;
}
.modal-header {
    padding: 18px 20px;
    border-bottom-color: #eee;
}
.modal-body {
    padding: 20px;
}
.modal-footer {
    padding: 12px 20px;
    border-top-color: #eee;
}
.modal-title {
    font-weight: normal;
}

.modal-lg {
    width: 900px;
}
.modal-dialog {
    width: 600px;
    margin: 30px auto;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
/***********************/
.block-header {
    padding: 15px 20px;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}
.block-header:before,
.block-header:after {
    content: " ";
    display: table;
}
.block-header:after {
    clear: both;
}
.block-title {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2;
}
.block-title.text-normal {
    text-transform: none;
}
.block-title small {
    font-size: 13px;
    font-weight: normal;
    text-transform: none;
}
.block-content {
    margin: 0 auto;
    padding: 20px 20px 1px;
    max-width: 100%;
    overflow-x: visible;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}
.block-content p,
.block-content .push,
.block-content .block,
.block-content .items-push > div {
    margin-bottom: 20px;
}
.block-content .items-push-2x > div {
    margin-bottom: 40px;
}
.block-content .items-push-3x > div {
    margin-bottom: 60px;
}
.block-content.block-content-full {
    padding-bottom: 20px;
}
.block-content.block-content-full .pull-b {
    margin-bottom: -20px;
}
.block-content .pull-t {
    margin-top: -20px;
}
.block-content .pull-r-l {
    margin-right: -20px;
    margin-left: -20px;
}
.block-content .pull-b {
    margin-bottom: -1px;
}
.block-content.block-content-mini {
    padding-top: 10px;
}
.block-content.block-content-mini.block-content-full {
    padding-bottom: 10px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    height: 22px;
    line-height: 22px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    background-color: #5c90d2;
    border: none;
    border-radius: 3px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 5px;
    color: rgba(255, 255, 255, 0.5);
}

.dd3-handle::before {
    color: #A0A0A0;
}
.dd3-handle {
    background: #ECECEC;
    cursor: move;
    box-sizing: border-box;
}
.dd3-content {
    background: #f9f9f9;
    color: #5A5A5A;
}
.dd3-content:hover {
    background: #ECECEC;
    color: #5A5A5A;
}
.form-control-static {
    min-height: 34px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 0;
}
div.tagsinput span.tag {
    padding: 2px 5px;
    height: 22px;
    line-height: 18px;
    color: #fff;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    background-color: #5c90d2;
    border: none;
}
div.tagsinput span.tag a:hover {
    color: rgba(255, 255, 255, 0.75);
}
div.tagsinput span.tag a {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.input-group-addon:first-child {
    border-right: 0;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.input-group-addon:first-child {
    border-right: 0;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn-group:not(:last-child) > .btn, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group-addon {
    color: #646464;
    background-color: #f9f9f9;
    border-color: #e6e6e6;
    border-radius: 3px;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}
.input-group {
    border-collapse: separate;
}

.select-box-linkage{
    display: inline-block;
}
.alert {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
    border: none;
}
.alert p {
    margin-bottom: 5px !important;
}
.alert-success {
    background-color: #e0f5e9;
    color: #34a263;
    -webkit-box-shadow: 0 2px #cdefdb;
    box-shadow: 0 2px #cdefdb;
}
.alert-success hr {
    border-top-color: #cdefdb;
}
.alert-success .alert-link {
    color: #287b4b;
}
.alert-info {
    background-color: #edf6fd;
    color: #43a3e5;
    -webkit-box-shadow: 0 2px #d6ebfa;
    box-shadow: 0 2px #d6ebfa;
}
.alert-info hr {
    border-top-color: #d6ebfa;
}
.alert-info .alert-link {
    color: #1e8cd7;
}
.alert-warning {
    background-color: #fdf3e5;
    color: #efa231;
    -webkit-box-shadow: 0 2px #fbe8cd;
    box-shadow: 0 2px #fbe8cd;
}
.alert-warning hr {
    border-top-color: #fbe8cd;
}
.alert-warning .alert-link {
    color: #dc8911;
}
.alert-danger {
    background-color: #f9eae8;
    color: #c54736;
    -webkit-box-shadow: 0 2px #f4d8d4;
    box-shadow: 0 2px #f4d8d4;
}
.alert-danger hr {
    border-top-color: #f4d8d4;
}
.alert-danger .alert-link {
    color: #9d392b;
}

.block > .nav-tabs {
    background-color: #f9f9f9;
    border-bottom: none;
    height:46px;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.block > .nav-tabs > li {
    margin-bottom: 0;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.nav > li {
    position: relative;
    display: block;
}

.block > .nav-tabs > li > a:hover {
    color: #5c90d2;
    background-color: transparent;
    border-color: transparent;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.block > .nav-tabs > li > a {
    margin-right: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #646464;
    font-weight: 600;
    border-radius: 0;
}
.nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd;
}
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #eee;
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.tab-content > .active {
    display: block;
}
.tab-content > .tab-pane {
    display: none;
}