<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__JS__/lib/html5.js"></script>
    <script type="text/javascript" src="__JS__/lib/respond.min.js"></script>
    <script type="text/javascript" src="__JS__/lib/PIE_IE678.js"></script>
    <![endif]-->
    <link href="__ADMIN__/hui/h-ui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="__ADMIN__/hui/h-ui.admin/css/H-ui.login.css" rel="stylesheet" type="text/css" />
    <link href="__ADMIN__/hui/h-ui.admin/css/style.css" rel="stylesheet" type="text/css" />
    <link href="__JS__/lib/Hui-iconfont/1.0.7/iconfont.css" rel="stylesheet" type="text/css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="__JS__/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>后台登录 - H-ui.admin v2.5</title>
    <meta name="keywords" content="H-ui.admin v2.5,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
    <meta name="description" content="H-ui.admin v2.3，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<input type="hidden" id="TenantId" name="TenantId" value="" />
<div class="header"></div>
<div class="loginWraper">
    <div id="loginform" class="loginBox">
        <form class="form form-horizontal" action="<{:url('index')}>" method="post">
            <div class="row cl">
                <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60d;</i></label>
                <div class="formControls col-xs-8">
                    <input name="username" type="text" placeholder="账户" datatype="*"  nullmsg="账户不能为空！" class="input-text size-L">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60e;</i></label>
                <div class="formControls col-xs-8">
                    <input name="password" type="password" placeholder="密码" datatype="*"  nullmsg="密码不能为空！" class="input-text size-L">
                </div>
            </div>
            <div class="row cl">
                <div class="formControls col-xs-8 col-xs-offset-3">
                    <input name="captcha" class="input-text size-L" type="text" placeholder="验证码" datatype="*"  nullmsg="验证码不能为空！" style="width:150px;">
                    <img id="captcha" src="<{:url('getCaptcheUrl')}>" /> <a id="kanbuq" href="javascript:changeCaptchaImg();">看不清，换一张</a> </div>
            </div>
            <div class="row cl">
                <div class="formControls col-xs-8 col-xs-offset-3">
                    <label for="online">
                        <input type="checkbox" name="online" id="online" value="">
                        使我保持登录状态</label>
                </div>
            </div>
            <div class="row cl">
                <div class="formControls col-xs-8 col-xs-offset-3">
                    <input name="" type="submit" class="btn btn-success radius size-L" value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;">
                    <input name="" type="reset" class="btn btn-default radius size-L" value="&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="footer">Copyright 你的公司名称 by H-ui.admin.v2.5</div>
<script type="text/javascript" src="__JS__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__ADMIN__/hui/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="__JS__/lib/Validform/5.3.2/Validform.min.js"></script>

<script type="text/javascript">
    var captchaSrc = '';
    function changeCaptchaImg(){
        var $captcha = $('#captcha');
        if(captchaSrc==''){
            captchaSrc = $captcha.attr('src');
        }
        $captcha.attr({'src':captchaSrc+'?'+Math.random()});
    }

    $(function(){
        changeCaptchaImg();
        var form=$(".form").Validform({
            ajaxPost:true,
            tiptype:1,
            callback:function(data){
                if(data.status>0){
                    setTimeout(function(){
                        $.Hidemsg(); //公用方法关闭信息提示框;显示方法是$.Showmsg("message goes here.");
                        $.Showmsg(data.mess);
                        setTimeout(function(){
                            location.href="<{:url('admin/index')}>";
                        },2000);
                    },2000);
                }else{
                    setTimeout(function(){
                        $.Hidemsg(); //公用方法关闭信息提示框;显示方法是$.Showmsg("message goes here.");
                        $.Showmsg(data.mess);
                        setTimeout(function(){
                            $.Hidemsg();
                            changeCaptchaImg();
                        },3000);
                    },2000);
                }
            }
        });
    });
</script>
</body>
</html>