<{block name="meta"}><{include file="public:meta" /}><{/block}>
<{block name="otherCss"}><{/block}>
<{block name="title"}><title>后台管理</title><{/block}>
</head>
<body>
<{block name="nav"}>
    <nav class="breadcrumb">
        <i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span> 管理员管理
        <span class="c-gray en">&gt;</span> 用户组管理
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
            <i class="Hui-iconfont">&#xe68f;</i>
        </a>
    </nav>
<{/block}>
<{block name="content"}>内容<{/block}>
<{block name="foot"}><{include file="public:foot" /}><{/block}>
<{block name="otherJs"}><{/block}>
<{block name="script"}><{/block}>
</body>
</html>