<{extend name="$_admin_base_layout"/}>
<{// 其它CSS引入及代码 }>
<{block name="otherCss"}>
    <{volist name="css_list" id="vo"}>
        <link rel="stylesheet" href="__CSS__/{$vo}.css">
    <{/volist}>
    <{//插件CSS}>
    <{notempty name="_css_files"}>
        <{volist name="_css_files" id="css_file"}>
        <link rel="stylesheet" href="<{$css_file}>"/>
        <{/volist}>
    <{/notempty}>
    <{// 额外CSS代码 }>
    <{$extra_css|default=''}>
    <{//默认css文件}>
    <link rel="stylesheet" href="__COMMON__/css/creater/form.css">
<{/block}>

<{block name="title"}><title><{$page_title}></title><{/block}>

<{block name="content"}>
<div class="page-container">
    <{//tab选项卡}>
    <{notempty name="tab_nav"}>
    <div id="tab-system" class="HuiTab">
        <div class="tabBar cl">
            <{volist name="tab_nav['tab_list']" id="tab"}>
            <span <{eq name="tab_nav.curr_tab" value="$key"}>class="current"<{/eq}> onclick="location.href='<{$tab.url}>'" ><{$tab.title}></span>
            <{/volist}>
        </div>
    </div>
    <{/notempty}>
    <form action="<{$post_url|default=''}>" method="post" class="form form-horizontal" id="form-article-add">
        <{empty name="form_items"}>
        <div class="text-c">暂无数据</div>
        <{else/}>
            <{volist name="form_items" id="form"}>
                <{switch name="form.type"}>
                    <{case value="bmap"}>
                        <{// 百度地图 }>
                        <{include file="../application/common/creater/form/items/bmap.html" type='' /}>
                    <{/case}>
                    <{case value="checkbox"}>
                        <{// 复选框 }>
                        <{include file="../application/common/creater/form/items/checkbox.html" type='' /}>
                    <{/case}>
                    <{case value="ckeditor"}>
                        <{// ckeditor编辑器 }>
                        <{include file="../application/common/creater/form/items/ckeditor.html" type='' /}>
                    <{/case}>
                    <{case value="date"}>
                        <{//日期选择器}>
                        <{include file="../application/common/creater/form/items/date.html" type='' /}>
                    <{/case}>
                    <{case value="daterange"}>
                        <{// 日期范围 }>
                        <{include file="../application/common/creater/form/items/daterange.html" type='' /}>
                    <{/case}>
                    <{case value="datetime"}>
                        <{// 日期时间 }>
                        <{include file="../application/common/creater/form/items/datetime.html" type='' /}>
                    <{/case}>
                    <{case value="editormd"}>
                        <{// markdown编辑器 }>
                        <{include file="../application/common/creater/form/items/editormd.html" type='' /}>
                    <{/case}>
                    <{case value="file"}>
                        <{// 单文件上传 }>
                        <{include file="../application/common/creater/form/items/file.html" type='' /}>
                    <{/case}>
                    <{case value="files"}>
                        <{// 多文件上传 }>
                        <{include file="../application/common/creater/form/items/files.html" type='' /}>
                    <{/case}>
                    <{case value="hidden"}>
                        <{// 隐藏 }>
                        <{include file="../application/common/creater/form/items/hidden.html" type='' /}>
                    <{/case}>
                    <{case value="image"}>
                        <{// 单图片上传 }>
                        <{include file="../application/common/creater/form/items/image.html" type='' /}>
                    <{/case}>
                    <{case value="images"}>
                        <{// 多图片上传 }>
                        <{include file="../application/common/creater/form/items/images.html" type='' /}>
                    <{/case}>
                    <{case value="jcrop"}>
                        <{// 图片裁剪 }>
                        <{include file="../application/common/creater/form/items/jcrop.html" type='' /}>
                    <{/case}>
                    <{case value="select"}>
                        <{// 下拉菜单 }>
                        <{include file="../application/common/creater/form/items/select.html" type='' /}>
                    <{/case}>
                    <{case value="select2"}>
                        <{// 下拉多选 }>
                        <{include file="../application/common/creater/form/items/select2.html" type='' /}>
                    <{/case}>
                    <{case value="sort"}>
                        <{// 排序 }>
                        <{include file="../application/common/creater/form/items/sort.html" type='' /}>
                    <{/case}>
                    <{case value="static"}>
                        <{// 静态文本 }>
                        <{include file="../application/common/creater/form/items/static.html" type='' /}>
                    <{/case}>
                    <{case value="switch"}>
                        <{// 开关 }>
                        <{include file="../application/common/creater/form/items/switch.html" type='' /}>
                    <{/case}>
                    <{case value="tags"}>
                        <{// 标签 }>
                        <{include file="../application/common/creater/form/items/tags.html" type='' /}>
                    <{/case}>
                    <{case value="text"}>
                        <{// 单行文本 }>
                        <{include file="../application/common/creater/form/items/text.html" type='' /}>
                    <{/case}>
                    <{case value="time"}>
                        <{// 时间 }>
                        <{include file="../application/common/creater/form/items/time.html" type='' /}>
                    <{/case}>
                    <{case value="textarea|array"}>
                        <{// 文本框|数组 }>
                        <{include file="../application/common/creater/form/items/textarea.html" type='' /}>
                    <{/case}>
                    <{case value="ueditor"}>
                        <{// 百度编辑器 }>
                        <{include file="../application/common/creater/form/items/ueditor.html" type='' /}>
                    <{/case}>
                    <{case value="wangeditor"}>
                        <{// wang编辑器 }>
                        <{include file="../application/common/creater/form/items/wangeditor.html" type='' /}>
                    <{/case}>
                    <{case value="radio"}>
                        <{// 单选 }>
                        <{include file="../application/common/creater/form/items/radio.html" type='' /}>
                    <{/case}>
                    <{case value="linkage"}>
                        <{// 联动下拉框 }>
                        <{include file="../application/common/creater/form/items/linkage.html" type='' /}>
                    <{/case}>
                    <{case value="linkages"}>
                        <{// 多级联动下拉框 }>
                        <{include file="../application/common/creater/form/items/linkages.html" type='' /}>
                    <{/case}>
                <{/switch}>
            <{/volist}>
        <{/empty}>
    </form>
</div>
<{// 额外HTML代码 }>
<{$extra_html|default=''}>
<{/block}>
<{//javascript引入及代码}>
<{block name="otherJs"}>
    <{volist name="js_list" id="vo"}>
        <script type="text/javascript" src="__JS__/{$vo}.js"></script>
    <{/volist}>
    <{// 额外JS代码 }>
    <{$extra_js|default=''}>
    <{//插件js}>
    <{notempty name="_js_files"}>
        <{volist name="_js_files" id="js_file"}>
            <script type="text/javascript" src="<{$js_file}>"></script>
        <{/volist}>
    <{/notempty}>
<{/block}>
