<{extend name="$_admin_base_layout"/}>
<{// 其它CSS引入及代码 }>
<{block name="otherCss"}>
    <{volist name="css_list" id="vo"}>
        <link rel="stylesheet" href="__CSS__/{$vo}.css">
    <{/volist}>
    <{//插件CSS}>
    <{notempty name="_css_files"}>
        <{volist name="_css_files" id="css_file"}>
        <link rel="stylesheet" href="<{$css_file}>"/>
        <{/volist}>
    <{/notempty}>
    <{// 额外CSS代码 }>
    <{$extra_css|default=''}>
    <{//默认css文件}>
    <link rel="stylesheet" href="__COMMON__/css/creater/form.css">
<{/block}>

<{block name="title"}><title><{$page_title}></title><{/block}>

<{block name="content"}>
<div class="page-container">
    <{notempty name="page_tips"}>
    <div class="text-l va-m alert alert-<{$tips_type}> alert-dismissable">
       <{$page_tips}>
    </div>
    <{/notempty}>
    <{//tab选项卡}>
    <{notempty name="tab_nav"}>
    <div class="block">
        <ul class="nav nav-tabs">
            <{volist name="tab_nav['tab_list']" id="tab"}>
            <li <{eq name="tab_nav.curr_tab" value="$key"}>class="active"<{/eq}> >
            <a href="<{$tab.url}>"><{$tab.title}></a>
            </li>
            <{/volist}>
        </ul>
    </div>
    <{/notempty}>
    <form action="<{$post_url|default=''}>" method="post" id="form-submit-data-custom" class="form form-horizontal form-builder row" name="form-builder">
        <{empty name="form_items"}>
        <div class="text-c">暂无数据</div>
        <{else/}>
            <{volist name="form_items" id="form"}>
                <{switch name="form.type"}>
                    <{case value="bmap"}>
                        <{// 百度地图 }>
                        <{include file="../application/common/creater/form/items/bmap.html" type='' /}>
                    <{/case}>
                    <{case value="checkbox"}>
                        <{// 复选框 }>
                        <{include file="../application/common/creater/form/items/checkbox.html" type='' /}>
                    <{/case}>
                    <{case value="ckeditor"}>
                        <{// ckeditor编辑器 }>
                        <{include file="../application/common/creater/form/items/ckeditor.html" type='' /}>
                    <{/case}>
                    <{case value="date"}>
                        <{//日期选择器}>
                        <{include file="../application/common/creater/form/items/date.html" type='' /}>
                    <{/case}>
                    <{case value="daterange"}>
                        <{// 日期范围 }>
                        <{include file="../application/common/creater/form/items/daterange.html" type='' /}>
                    <{/case}>
                    <{case value="datetime"}>
                        <{// 日期时间 }>
                        <{include file="../application/common/creater/form/items/datetime.html" type='' /}>
                    <{/case}>
                    <{case value="editormd"}>
                        <{// markdown编辑器 }>
                        <{include file="../application/common/creater/form/items/editormd.html" type='' /}>
                    <{/case}>
                    <{case value="file"}>
                        <{// 单文件上传 }>
                        <{include file="../application/common/creater/form/items/file.html" type='' /}>
                    <{/case}>
                    <{case value="files"}>
                        <{// 多文件上传 }>
                        <{include file="../application/common/creater/form/items/files.html" type='' /}>
                    <{/case}>
                    <{case value="hidden"}>
                        <{// 隐藏 }>
                        <{include file="../application/common/creater/form/items/hidden.html" type='' /}>
                    <{/case}>
                    <{case value="image"}>
                        <{// 单图片上传 }>
                        <{include file="../application/common/creater/form/items/image.html" type='' /}>
                    <{/case}>
                    <{case value="images"}>
                        <{// 多图片上传 }>
                        <{include file="../application/common/creater/form/items/images.html" type='' /}>
                    <{/case}>
                    <{case value="jcrop"}>
                        <{// 图片裁剪 }>
                        <{include file="../application/common/creater/form/items/jcrop.html" type='' /}>
                    <{/case}>
                    <{case value="select"}>
                        <{// 下拉菜单 }>
                        <{include file="../application/common/creater/form/items/select.html" type='' /}>
                    <{/case}>
                    <{case value="select2"}>
                        <{// 下拉多选 }>
                        <{include file="../application/common/creater/form/items/select2.html" type='' /}>
                    <{/case}>
                    <{case value="sort"}>
                        <{// 排序 }>
                        <{include file="../application/common/creater/form/items/sort.html" type='' /}>
                    <{/case}>
                    <{case value="static"}>
                        <{// 静态文本 }>
                        <{include file="../application/common/creater/form/items/static.html" type='' /}>
                    <{/case}>
                    <{case value="switch"}>
                        <{// 开关 }>
                        <{include file="../application/common/creater/form/items/switch.html" type='' /}>
                    <{/case}>
                    <{case value="tags"}>
                        <{// 标签 }>
                        <{include file="../application/common/creater/form/items/tags.html" type='' /}>
                    <{/case}>
                    <{case value="text"}>
                        <{// 单行文本 }>
                        <{include file="../application/common/creater/form/items/text.html" type='' /}>
                    <{/case}>
                    <{case value="time"}>
                        <{// 时间 }>
                        <{include file="../application/common/creater/form/items/time.html" type='' /}>
                    <{/case}>
                    <{case value="textarea|array"}>
                        <{// 文本框|数组 }>
                        <{include file="../application/common/creater/form/items/textarea.html" type='' /}>
                    <{/case}>
                    <{case value="ueditor"}>
                        <{// 百度编辑器 }>
                        <{include file="../application/common/creater/form/items/ueditor.html" type='' /}>
                    <{/case}>
                    <{case value="wangeditor"}>
                        <{// wang编辑器 }>
                        <{include file="../application/common/creater/form/items/wangeditor.html" type='' /}>
                    <{/case}>
                    <{case value="radio"}>
                        <{// 单选 }>
                        <{include file="../application/common/creater/form/items/radio.html" type='' /}>
                    <{/case}>
                    <{case value="linkage"}>
                        <{// 联动下拉框 }>
                        <{include file="../application/common/creater/form/items/linkage.html" type='' /}>
                    <{/case}>
                    <{case value="linkages"}>
                        <{// 多级联动下拉框 }>
                        <{include file="../application/common/creater/form/items/linkages.html" type='' /}>
                    <{/case}>
                    <{case value="masked"}>
                        <{// 格式文本 }>
                        <{include file="../application/common/creater/form/items/masked.html" type='' /}>
                    <{/case}>
                    <{case value="number"}>
                        <{// 数字 }>
                        <{include file="../application/common/creater/form/items/number.html" type='' /}>
                    <{/case}>
                    <{case value="password"}>
                        <{// 密码 }>
                        <{include file="../application/common/creater/form/items/password.html" type='' /}>
                    <{/case}>
                    <{case value="range"}>
                        <{// 范围 }>
                        <{include file="../application/common/creater/form/items/range.html" type='' /}>
                    <{/case}>
                    <{case value="group"}>
                        <{// 分组 }>
                        <{include file="../application/common/creater/form/items/group.html" type='' /}>
                    <{/case}>
                <{/switch}>
            <{/volist}>
        <{/empty}>
        <div class="row cl col-md-12">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <{php}>if(isset($btn_hide) && !in_array('submit', $btn_hide)):<{/php}>
                <button class="btn btn-primary radius <{eq name="ajax_submit" value="true"}>ajax-post<{/eq}>" target-form="form-builder" type="submit">
                <i class="Hui-iconfont">&#xe632;</i>
                <{$btn_title['submit']|default='提交'}>
                </button>
                <{php}>endif;<{/php}>

                <{empty name="Think.get._pop"}>
                <{php}>if(isset($btn_hide) && !in_array('back', $btn_hide)):<{/php}>
                <button class="btn btn-default radius" type="button" onclick="closeTip();">
                    <i class="Hui-iconfont">&#xe66b;</i>
                    <{$btn_title['back']|default='返回'}>
                </button>
                <{php}>endif;<{/php}>
                <{/empty}>
                <{// 额外按钮}>
                <{$btn_extra|default=''}>
            </div>
        </div>
    </form>
</div>
<{// 额外HTML代码 }>
<{$extra_html|default=''}>
<{/block}>
<{//javascript引入及代码}>
<{block name="otherJs"}>
    <{volist name="js_list" id="vo"}>
        <script type="text/javascript" src="__JS__/{$vo}.js"></script>
    <{/volist}>
    <{// 额外JS代码 }>
    <{$extra_js|default=''}>
    <{//插件js}>
    <{notempty name="_js_files"}>
        <{volist name="_js_files" id="js_file"}>
            <script type="text/javascript" src="<{$js_file}>"></script>
        <{/volist}>
    <{/notempty}>
    <script type="text/javascript">
        var triggers = <{$field_triggers|default=[]|json_encode}>;//触发器集合
        var field_hide = '<{$field_hide|default=""}>'; // 需要隐藏的字段
        var field_values =  '<{$field_values|default=""}>';//触发对象
        var ueditors    = {};//ueditor编辑器集合
        var wangeditors = {};//wangeditors编辑器集合
        var editormds = {};//markdown编辑器集合
        $(function(){
            // 表单项依赖触发
            if (triggers != '') {
                /* 依赖显示 */
                // 先隐藏依赖项
                var $field_hide   = field_hide.split(',') || [];
                var $field_values = field_values.split(',') || [];
                for (var index in $field_hide) {
                    $('#form_group_'+$field_hide[index]).addClass('form_group_hide');
                }

                var $form_builder = $('.form-builder');

                $.each(triggers, function (trigger, content) {
                    $form_builder.delegate('[name='+ trigger +']', 'change', function (event, init) {
                        var $trigger = $(this);
                        var $value   = $trigger.val();

                        $(content).each(function () {
                            var $self = $(this);
                            var $values  = $self[0].split(',') || [];
                            var $targets = $self[1].split(',') || [];

                            // 如果触发的元素是单选，且没有选中则设置值为空
                            if ($trigger.attr('type') == 'radio' && $trigger.is(':checked') == false) {
                                $value = '';
                            }
                            if ($.inArray($value, $values) >= 0) {
                                // 符合指定的值，显示对应的表单项
                                for (var index in $targets) {
                                    // 如果不是该对象自身直接创建的属性（也就是该属//性是原型中的属性），则跳过显示
                                    if (!$targets.hasOwnProperty(index)) {
                                        continue;
                                    }
                                    $('#form_group_'+$targets[index]).removeClass('form_group_hide');
                                }
                            } else {
                                for (var item in $targets) {
                                    if (!$targets.hasOwnProperty(item)) {
                                        continue;
                                    }

                                    if ($.type(ueditors) == 'object' && ueditors[$targets[item]] != undefined) {
                                        // 清除百度编辑器内容
                                        ueditors[$targets[item]].ready(function(){
                                            ueditors[$targets[item]].execCommand("cleardoc");
                                        });
                                    } else if ($.type(wangeditors) == 'object' && wangeditors[$targets[item]] != undefined) {
                                        // 清除wang编辑器内容
                                        wangeditors[$targets[item]].clear();
                                    } else if ($.type(editormds) == 'object' && editormds[$targets[item]] != undefined) {
                                        // 清除markdown编辑器内容
                                        if (init) {
                                            continue;
                                        } else {
                                            editormds[$targets[item]].clear();
                                        }
                                    }

                                    // 隐藏表单项
                                    var $form_item = $('#form_group_'+$targets[item]).addClass('form_group_hide');

                                    // 清除表单内容
                                    if ($form_item.find("[name='"+$targets[item]+"']").attr('type') == 'radio') {
                                        $form_item.find("[name='"+$targets[item]+"']:checked").prop('checked', false).trigger("change");
                                    } else if ($form_item.find("[name='"+$targets[item]+"[]']").attr('type') == 'checkbox') {
                                        $form_item.find("[name='"+$targets[item]+"[]']:checked").prop('checked', false).trigger("change");
                                    } else {
                                        $form_item.find("[name^='"+$targets[item]+"']").val(null).trigger("change");
                                    }

                                    // 清除上传文件
                                    $form_item.find('#file_list_'+$targets[item]).empty();

                                    // 清空标签
                                    if ($form_item.find('.js-tags-input').length) {
                                        $form_item.find('.js-tags-input').importTags('');
                                    }
                                }
                            }
                        });
                    });

                    // 有默认值时触发
                    var trigger_value = '';
                    if ($form_builder.find('[name='+ trigger +']').attr('type') == 'radio') {
                        trigger_value = $form_builder.find('[name='+ trigger +']:checked').val() || '';
                        if (trigger_value != '' && $.inArray(trigger_value, $field_values) >= 0) {
                            var $radio_id = $('.form-builder [name='+ trigger +']:checked').attr('id');
                            $('.form-builder #'+$radio_id).trigger("change", ['1']);
                        }
                    } else {
                        trigger_value = $form_builder.find('[name='+ trigger +']').val() || '';
                        if (trigger_value != '' && $.inArray(trigger_value, $field_values) >= 0) {
                            $('.form-builder [name='+ trigger +']').trigger("change");
                        }
                    }
                });
            }

            $("#form-submit-data-custom").validate({
                rules:<{$form_validate.rules|json_encode=JSON_UNESCAPED_UNICODE}>,
                messages:<{$form_validate.messages|json_encode=JSON_UNESCAPED_UNICODE}>,
                onkeyup:false,
                focusCleanup:false,
                success:"valid",
                submitHandler:function(form) {
                    var index = parent.layer.getFrameIndex(window.name);
                    if ($(':submit').hasClass('ajax-post')) {
                        //ajax提交
                        $(form).ajaxSubmit({
                            dataType: "json",
                            success: function (jsondata) {
                                if (jsondata.code == 1) {
                                    layer.msg(jsondata.msg);
                                    setTimeout(function () {
                                        parent.layer.close(index);
                                        parent.location.reload();
                                    }, 1500);
                                } else {
                                    layer.msg(jsondata.msg, {icon: 5, shift: 6});
                                }
                            }
                        });
                    } else {
                        form.submit();
                    }
                }
            });
        });
        function closeTip(){
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        }
    </script>
<{/block}>
