@charset "utf-8";
/* 你自己的样式 */

.bg-color-dg{background-color: #009688;}
.bg-color-lg{background-color: #5FB878;}
.bg-color-db{background-color: #393D49;}
.bg-color-lb{background-color: #393D49;}
.bg-color-ly{background-color: #F7B824;}
.bg-color-or{background-color: #FF5722;}
.bg-color-db{background-color: #01AAED;}
.bg-color-bb{background-color: #2F4056;}


